{% macro input(name, required, value, type, size, label , span) %}

	<div class="input-field col {{ span | default('s12') }}">
		<input required id="input-{{ name | lower | replace({' ': '-' })}}" type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" class="validate" {% if required %} required {% endif %}/>
		<label for="input-{{ name | lower | replace({' ': '-' })}}">{{ label | default(name) | title }}</label>
	</div>

{% endmacro %}

{% macro input_inline(name, required, value, type, size, label , span) %}

	<div class="input-field inline col {{ span | default('s12') }}">
		<input required id="input-{{ name | lower | replace({' ': '-' })}}" type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" class="validate" {% if required %} required {% endif %}/>
		<label for="input-{{ name | lower | replace({' ': '-' })}}">{{ label | default(name) | title }}</label>
	</div>

{% endmacro %}

{% macro button(name, label) %}

	<button class="btn" type="submit" name="{{ name }}">{{ label | default(name) | title }}
		<i class="material-icons right">send</i>
	</button>

{% endmacro %}

{% macro text(name, required, label, size) %}
	<div class="input-field col {{ span | default('s12') }}">
		<textarea name="{{ name }}" class="materialize-textarea" {% if required %} required {% endif %}>
		</textarea>
		<label for="input-{{ name | lower | replace({' ': '-' })}}">{{ label | default(name) | title }}</label>
	</div>
{% endmacro %}

{% macro file(name, label, filetype) %}
	<div class="file-field input-field">
		<div class="file-upload">
			<span>{{ label | default(name) | title }}</span>
			<input required placeholder="upload" type="file"  name="{{ name }}" {% if filetype %}filetype="{{ filetype }}"{% endif %}>
		</div>
		<div class="file-path-wrapper">
			<input required class="file-path validate" type="text">
		</div>
	</div>
{% endmacro %}