{% extends "layouts/admin.twig" %}

{% block content %}

	<div class="row">
		<div class="side-nav fixed">
			<div class="meta-block">
				<img src="images/main-navbar-logo.png">
				<span>Welcome, Stefan</span>
			</div>
			<ul>
				{% for item in backend_sidebar() %}
					{% if item.sub %}
						<li class="no-padding">
							<ul class="collapsible collapsible-accordion">
								<li>
									<a class="collapsible-header">{{ item.label }} <i class="material-icons">keyboard_arrow_right</i></a>
									<div class="collapsible-body no-padding">
										<ul>
											<li>
												<a href="{{ item.route }}">{{ item.label }}</a>
											</li>
											{% for sub in item.sub %}
												<li>
													<a href="{{ sub.route }}">{{ sub.label }}</a>
												</li>
											{% endfor %}
										</ul>
									</div>
								</li>
							</ul>
						</li>
					{% else %}
						<li class="">
							<a class="collapsible-header" href="{{ item.route }}">{{ item.label }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<main>

			{% block dashboard_content %}

			{% endblock %}

		</main>
	</div>

{% endblock %}